body{
    background: rgba(20,90,80,0.3);
}

.formulario{
    border: solid blue 0px;    
    border-radius: 10px;
    background: rgba(20,90,80,0.4);
    padding: 5px;
}

.formulario h2{
     text-align: center;
     color: green;
}